---
import { Image } from "astro:assets";
import footerImg from "../images/grain-footer.svg";
import Nav from "../components/Nav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-pt-20">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-color-background">
		<Nav />
		<main class="font-sans antialiased tracking-wide text-color-heading">
			<slot />
		</main>
		<footer class="mt-32">
			<div class="flex gap-6 justify-center items-center bg-color-background pr-[28rem]">
				<Image src={footerImg} alt="Grain logo ballons." />
				<div class="text-gray-50">Copyright © 2022 Grain Lang</div>
			</div>
		</footer>
	</body>
</html>

<script>
	import { selectedTheme } from "../store";

	selectedTheme.subscribe(theme => {
    if (theme == "dark") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
	})
</script>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@font-face {
		font-family: 'Soehne';
		src: url('/fonts/soehne-leicht.woff2') format('woff');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'Soehne';
		src: url('/fonts/soehne-buch.woff2') format('woff');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Soehne';
		src: url('/fonts/soehne-kraftig.woff2') format('woff');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'Soehne';
		src: url('/fonts/soehne-halbfett.woff2') format('woff');
		font-weight: 600;
		font-style: normal;
	}

	@layer base {
		:root {
			--color-heading: 54 52 58; /* gray-90 */
			--color-primary: 70 66 81; /* gray-80 */
			--color-dim: 106 103 113; /* gray-60 */
			--color-dim-1: 148 145 157; /* gray-50 */
			--color-dim-2: 200 199 204; /* gray-40 */
			--color-dimmer: 237 237 237; /* gray-20 */
			--color-background: 251 251 251; /* gray-5 */
			--color-background-bright: 255 255 255;
			--color-accent: 236 77 27;
			--color-accent-dim: 244 125 88;
		}

		:root[class~="dark"] {
			--color-heading: 239 238 241; /* gray-variant-20 */
			--color-primary: 213 211 217; /* gray-variant-30 */
			--color-dim: 151 144 166; /* gray-variant-50 */
			--color-dim-1: 74 65 100; /* gray-variant-70 */
			--color-dim-2: 74 65 100; /* gray-variant-70 */
			--color-dimmer: 49 41 70; /* gray-variant-80 */
			--color-background: 35 28 54; /* gray-variant-90 */
			--color-background-bright: 29 24 46;
			--color-accent: 225 101 62;
			--color-accent-dim: 220 153 132;
		}
	}
</style>
