---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Info from '../components/Info.astro';
import OpenSourceBlurb from '../components/OpenSourceBlurb.astro';
---

<Layout title="Grain Programming Language">
	<div>
		<Hero />
		<Info />
		<OpenSourceBlurb />
	</div>
</Layout>
