.tm-highlight {
  --code-purple: #9fa0ff;
  --code-light-purple: #6699cc;
  --code-green: #75dddd;
  --code-orange: var(--orange);
  --code-blue: #d6edff;
  --code-light-blue: #05b2dc;
  --code-red: #ed254e;
  --code-gray: #637081;
  --code-yellow: #f4d35e;

  --code-extra: #d6edff;
  --code-pink: #dabfff;
  --code-brown: #600047;
}

.comment.source {
  color: var(--code-gray);
  font-style: italic;
}
.constant.character.escape.source {
  color: var(--code-light-purple) !important;
}
.constant.language.source,
.constant.numeric.source {
  color: var(--code-orange);
}
.entity.name.function.source {
  color: var(--code-blue);
}
.entity.other.source {
  color: var(--white);
}
.entity.name.module.source,
.entity.name.type.source,
.entity.name.source {
  color: var(--code-orange);
}
.storage.type.source,
.keyword.source,
.keyword.operator.accessor.source,
.keyword.operator.source {
  color: var(--code-light-purple);
}
.meta.separator.source {
  color: var(--code-gray);
}
.punctuation.definition.source,
.punctuation.definition.parameters.begin.source,
.punctuation.definition.parameters.end.source,
.punctuation.definition.parameters.source,
.punctuation.definition.parameters.start.source,
.punctuation.description.source,
.punctuation.description.parameters.end.source,
.punctuation.description.parameters.source,
.punctuation.description.parameters.start.source,
.punctuation.support.source,
.punctuation {
  color: var(--code-extra);
}
.string.quoted.double.source,
.string.quoted.single.source {
  color: var(--code-green);
}
.support.constant.source {
  color: var(--code-orange);
}
.support.type.source {
  color: var(--code-purple);
}
.variable.parameter.source,
.variable.language.source {
  color: var(--code-pink);
}
