.tm-highlight {
  --code-purple: #9fa0ff;
  --code-light-purple: #6699cc;
  --code-green: #75dddd;
  --code-orange: var(--orange);
  --code-blue: #d6edff;
  --code-light-blue: #05b2dc;
  --code-red: #ed254e;
  --code-gray: #637081;
  --code-yellow: #F4D35E;

  --code-extra: #d6edff;
  --code-pink: #DABFFF;
  --code-brown: #600047;
}

.comment.line.grain {
  color: var(--code-gray);
  font-style: italic;
}
.constant.character.escape.grain {
  color: var(--code-light-purple) !important;
}
.constant.language.grain,
.constant.numeric.grain {
  color: var(--code-orange);
}
.entity.name.function.grain {
  color: var(--code-blue);
}
.entity.other.grain {
  color: var(--white);
}
.entity.name.module.grain,
.entity.name.type.grain,
.entity.name.grain {
  color: var(--code-orange);
}
.storage.type.grain,
.keyword.grain,
.keyword.operator.accessor.grain,
.keyword.operator.grain {
  color: var(--code-light-purple);
}
.meta.separator.grain {
  color: var(--code-gray);
}
.punctuation.definition.grain,
.punctuation.definition.parameters.begin.grain,
.punctuation.definition.parameters.end.grain,
.punctuation.definition.parameters.grain,
.punctuation.definition.parameters.start.grain,
.punctuation.description.grain,
.punctuation.description.parameters.end.grain,
.punctuation.description.parameters.grain,
.punctuation.description.parameters.start.grain,
.punctuation.support.grain {
  color: var(--code-extra);
}
.string.quoted.double.grain,
.string.quoted.single.grain {
  color: var(--code-green);
}
.support.constant.grain {
  color: var(--code-orange);
}
.support.type.grain {
  color: var(--code-purple);
}
.variable.parameter.grain,
.variable.language.grain {
  color: var(--code-pink);
}
/* .variable.name.grain */