html {
  --orange: rgb(255, 133, 14);
  --orange-light: rgba(255, 133, 14, .01);
  --orange-medium: rgba(255, 133, 14, .15);
  --blue-light: rgba(65, 71, 112, .05);
  --white: white;
  --gray: #EFEFEF;
  --gray2: #9B9B9B;
  --gray3: #60606C;
  --blue: #4B557A;
  --cyan: #00A6A6;
  --black: #33333A;
  --oxford: #202C59;

  --font-heading: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--orange-light);
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

img {
  max-width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-family: var(--font-heading);
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  padding: 0 2rem;
  border-radius: 2px;
  color: var(--orange);
  background-color: white;
  height: 2.5rem;
  text-decoration: none;
  transition: color 0.075s, background-color 0.075s;
}
.button-secondary {
  border: 2px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
  &:hover {
    color: var(--white);
    background-color: var(--orange);
  }
}

a,
a:visited,
a:hover,
a:focus {
  color: var(--orange);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: var(--font-heading);
  font-weight: 600;
  span:hover .header-link {
    opacity: 100%;
  }
}

.header-link {
  font-size: 0.75em;
  margin-left: 0.5rem;
  color: var(--blue);
  position: relative;
  top: -0.125rem;
  opacity: 0;
  transition: opacity 140ms;
  &:hover, &:visited, &:focus {
    color: var(--blue);
  }
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

hr {
  border-color: var(--gray);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

#hero {
  background-color: var(--orange);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 600;
}
.heading-bold {
  font-family: var(--font-heading);
  font-weight: 700;
}

.nav-menu-icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.nav-menu-icon rect.a {
  fill: white;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  height: 5.5rem;
  &.compact {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 72rem;
  }
}

.brand-wrapper {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 8rem;
}

.nav-logo-wrapper {
  display: inline-flex;
  align-items: center;
}
.nav-logo-addition {
  color: white;
  font-size: 2.25rem;
  font-weight: 600;
  font-family: var(--font-heading);
  margin-left: 1rem;
  margin-top: -0.25rem;
  padding-left: 1rem;
  border-left: 1px solid white;
}

.nav-links {
  margin: 0;
}
.nav-social-links {
  display: flex;
  justify-content: flex-end;
  width: 8rem;
}
.nav-links {
  font-size: 1.125rem;
}
.nav-social-links {
  font-size: 1.5rem;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
  &:visited, &:hover, &:focus {
    color: var(--white);
  }
  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}

figure {
  overflow-x: auto;
  margin: 0;
  margin-top: 1rem;
}

code {
  color: var(--cyan);
}

.page-wrapper {
  margin-top: 88px;
}

#sidebar-toggle {
  border: none;
  background-color: initial;
  display: none;
  padding: 0;
  fill: var(--white);
  font-size: 1.25rem;
  margin-right: 1rem;
}
#sidebar-toggle:focus {
  outline: none;
}

.sidebar {
  min-width: 18rem;
  padding: 3rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 88px;
  height: calc(100vh - 88px);
  overflow: auto;
}
.sidebar.toc {
  top: 8rem;
}
.sidebar.toc ol {
  list-style: none;
}
.sidebar-toc {
  padding-left: 0;
  font-size: .875rem;
  margin: 0.5rem 0;
}
.sidebar-toc-child {
  padding-left: 1.5rem;
}
.sidebar-title {
  padding-left: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-heading);
}
.sidebar-group-header {
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-family: var(--font-heading);
}
.sidebar-group-header.toc {
  margin-left: 0;
  padding-bottom: 0rem;
}

.sidebar-items {
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
  a, a:visited, a:hover, a:focus {
    color: var(--black);
    text-decoration: none;
  }
}

.sidebar-item {
  height: 38px;
  display: flex;
}

.sidebar-toc a,
.sidebar-toc a:visited,
.sidebar-toc a:hover,
.sidebar-toc a:focus {
  color: var(--black);
  text-decoration: none;
}

.sidebar-link, .sidebar-toc-link {
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  width: 100%;
  background-color: inherit;
  transition: background-color 0.075s;
  &:hover {
    background-color: var(--orange-medium);
  }
  &.current {
    color: var(--white);
    background-color: var(--orange);
    border-radius: 2px;
    padding: 0.5rem 1.5rem;
    &:visited, &:focus, &:hover {
      color: var(--white);
    }
  }
}
.sidebar-toc-link {
  padding: 0.5rem 1.5rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.sidebar-toc-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


#sidebar-mobile {
  position: fixed;
  left: 0;
  top: 88px;
  transition: transform 200ms;
  transform: translateX(-288px);
  > .sidebar {
    display: block;
  }
}


#all-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 92rem;
  margin: 0 auto;
  justify-content: center;
  &.compact {
    max-width: 72rem;
  }
}
.page-content-wrapper {
  max-width: 56rem;
  width: 100%;
  transition: transform 200ms;
}
.page-content {
  background-color: white;
  padding: 2rem 1.5rem;
  line-height: 1.7;
  margin: 2rem 0 1rem 0;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
  font-size: 1.125rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer > * {
    margin-bottom: 2rem;
  }
  .footer-social-links, .made-by {
    text-align: left;
  }
}

@media screen and (max-width: 1088px) {
  .nav-links {
    display: none;
  }
  .sidebar {
    display: none;
    &.sidebar-toggled {
      transform: translateX(0);
    }
  }
  #sidebar-toggle {
    display: flex;
  }
  #sidebar-mobile {
    &.sidebar-toggled {
      transform: translateX(0);
    }
  }
  .page-content-wrapper {
    max-width: 50rem;
  }
  #all-content-wrapper.sidebar-toggled {
    .page-content-wrapper {
      transform: translateX(288px);
    }
  }
}
@media screen and (max-width: 1350px) {
  .sidebar.toc {
    display: none;
  }
}

.next-prev {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media screen and (max-width: 46rem) {
  .next-prev {
    justify-content: center;
  }
}
.next-topic-wrapper, .prev-topic-wrapper {
  display: flex;
  flex-direction: column;
  &::before {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1.125rem;
  }
}
.prev-topic-wrapper::before {
  content: 'Previous:';
  margin-left: 2rem;
}
.next-topic-wrapper::before {
  content: 'Next up...';
  margin-right: 2rem;
  text-align: end;
}
.next-topic-wrapper:first-child {
  margin-left: auto;
}
.next-topic, .prev-topic {
  margin-top: 0.5rem;
  width: 20rem;
  align-items: center;
  padding: 0 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  > span {
    display: flex;
    flex-direction: column;
  }
}
.next-arrow, .prev-arrow {
  position: relative;
  top: 1px;
}
.next-arrow {
  margin-left: auto;
}
.prev-arrow {
  margin-right: auto;
}

.page-title {
  margin-top: 0;
}

.github-link-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}

pre {
  font-size: 95%;
  font-family: "Menlo", monospace;
}
.tm-highlight table {
  width: 100%;
  font-size: 1rem;
}
td, th {
  padding: 0;
}
.gutter {
  width: 1rem;
  pre {
    background-color: var(--oxford);
    color: var(--blue);
    text-align: right;
    padding: 1.25rem 0 1.25rem 1.25rem;
    margin: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.code pre {
  background-color: var(--oxford);
  white-space: pre;
  padding: 1.25rem;
  margin: 0;
  color: var(--white);
  font-size: 95%;
}
.code-tools {
  width: 1rem;
  background-color: var(--oxford);
  vertical-align: top;
  padding: 1.25rem 1.25rem 1.25rem 0;
}
.code-copy {
  color: var(--blue);
  display: flex;
  cursor: pointer;
  transition: color 0.075s;
  &:focus, &:hover {
    color: var(--white);
  }
}
.tm-highlight table {
  border-spacing: 0;
}
.code-tools {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.grain-snackbar {
  position: fixed;
  background-color: var(--oxford);
  color: var(--white);
  padding: 1rem;
  border-radius: 4px;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 20rem;
  transform: translateY(5rem);
  transition: transform 0.4s ease;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(155,155,155,1);
  -moz-box-shadow: 2px 2px 4px 0px rgba(155,155,155,1);
  box-shadow: 2px 2px 4px 0px rgba(155,155,155,1);
  &.open {
    transform: translateY(0);
  }
}


/* hack for hash links to work properly */
h1::before, h2::before, h3::before, h4::before, h5::before {
  content: '';
  display: block;
  height:      6rem;
  margin-top: -6rem;
  visibility: hidden;
}

@media screen and (max-width: 1088px) {
  .blog-sidebar {
    display: none;
  }
  .blog-items {
    margin: 4rem 1rem 0 1rem;
  }
}

.blog-items {
  flex-grow: 1;
  margin-top: 4rem;
}
.blog-sidebar {
  width: 24rem;
  min-height: 50rem;
  margin-left: 4rem;
  margin-top: 4rem;
}
.join-mailing {
  color: var(--black);
  background-color: var(--gray);
  padding: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-radius: 2px;
}
.join-mailing-title {
  margin-top: 0;
}
.mc-field-group input {
  margin: 1.5rem 0 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: 3rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  font-family: inherit;
}
.button.mc-submit {
  color: var(--black);
  cursor: pointer;
}
.blog-subtitle {
  color: var(--gray3);
  font-size: 1rem;
}
a.blog-item {
  width: 100%;
  margin-bottom: 4rem;
  display: block;
  color: var(--black);
}
.blog-item-header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.blog-item-subtitle {
  color: var(--gray3);
  font-size: 1rem;
  margin-top: 0;
}
.blog-img-wrapper {
  height: 0;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}
.blog-cover-photo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.blog-author {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  > * {
    margin-bottom: 1rem;
  }
}
.blog-author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}
.blog-author-photo {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 5rem;
  margin-right: 1rem;
  .large & {
    width: 6rem;
    height: 6rem;
  }
}
.blog-author-name {
  font-weight: 600;
  margin-bottom: 0.125rem;
  .large & {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
}
.blog-date {
  color: var(--gray3);
}

.blog-wrapper {
  margin-top: 4rem;
  max-width: 45rem;
  padding: 0 1.5rem;
  h1 {
    font-size: 2.5rem;
  }
  .blog-item-subtitle {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .blog-author {
    margin-bottom: 2rem;
  }
  .blog-author-socials {
    font-size: 1.5rem;
    align-self: flex-end;
  }
  .large .blog-author-socials {
    align-self: center;
    font-size: 1.75rem;
  }
  a.blog-author-social {
    color: var(--black);
    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
  .blog-cover-photo-wrapper {
    margin-bottom: 2.5rem;
  }
  .blog-cover-attribution {
    font-size: .875rem;
    font-style: italic;
    color: var(--gray3);
    margin-top: 0.5rem;
  }
  .blog-content {
    font-size: 1.175rem;
    line-height: 1.875;
    margin-bottom: 2.5rem;
  }
  .blog-author-title {
    color: var(--gray3);
  }
  .large.blog-author {
    margin-bottom: 4rem;
  }
  .large .blog-author-name::before {
    content: 'Written by';
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: normal;
    font-family: var(--font-heading);
    color: var(--gray2);
  }
}

.join-mailing-footer {
  background-color: var(--gray);
}

.footer {
  margin: 4rem auto;
  max-width: 72rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 3rem 2rem;
  padding-bottom: 0;
  &.separated {
    border-top: 2px solid var(--gray);
  }
}
.footer-logo, .footer-links {
  margin-right: 4rem;
}
.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-link-header {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.footer-links li {
  margin-bottom: 0.5rem;
}
.footer-links li > a, .footer-links li > a:visited {
  color: var(--black);
  text-decoration: none;
}
.footer-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.footer-social-links {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: right;
}
.footer-social-link:not(:last-of-type) {
  margin-right: 0.5rem;
}
.footer-social-link, .footer-social-link:visited {
  color: var(--black);
}
.made-by {
  text-align: right;
  border-top: 1px solid var(--orange);
  padding-top: 0.5rem;
}
.made-by > p {
  margin: 0;
}