html {
  --orange: rgb(255, 133, 14);
  --orange-light: rgba(255, 133, 14, .01);
  --orange-medium: rgba(255, 133, 14, .15);
  --blue-light: rgba(65, 71, 112, .05);
  --white: white;
  --gray2: #9B9B9B;
  --blue: #414770;
  --cyan: #00A6A6;
  --black: #33333A;

  --font-heading: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--orange-light);
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.button {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-family: var(--font-heading);
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  padding: 0 2rem;
  border-radius: 2px;
  color: var(--orange);
  background-color: white;
  height: 2.5rem;
  text-decoration: none;
  transition: color 0.075s, background-color 0.075s;
}
.button-secondary {
  border: 2px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
}
.button-secondary:hover {
  color: var(--white);
  background-color: var(--orange);
}

a,
a:visited,
a:hover,
a:focus {
  color: var(--orange);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: var(--font-heading);
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

#hero {
  background-color: var(--orange);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 600;
}
.heading-bold {
  font-family: var(--font-heading);
  font-weight: 700;
}

.nav-menu-icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.nav-menu-icon rect.a {
  fill: white;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  height: 5.5rem;
}

.brand-wrapper {
  display: flex;
}

.nav-logo {
  width: 8rem;
}

.nav-links {
  margin: 0 auto;
}
.nav-social-links {
  display: flex;
  justify-content: flex-end;
  width: 8rem;
}
.nav-links {
  font-size: 1.125rem;
}
.nav-social-links {
  font-size: 1.5rem;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
}
.nav-link:visited {
  color: var(--white);
}
.nav-link:not(:last-of-type) {
  margin-right: 1rem;
}

figure {
  overflow-x: auto;
  margin: 0;
}

code {
  color: var(--cyan);
}

.page-wrapper {
  margin-top: 88px;
}

#sidebar-toggle {
  border: none;
  background-color: initial;
  display: none;
  padding: 0;
  fill: var(--white);
  font-size: 1.25rem;
  margin-right: 1rem;
}
#sidebar-toggle:focus {
  outline: none;
}

.sidebar {
  min-width: 18rem;
  padding: 3rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 88px;
  height: calc(100vh - 88px);
  overflow: auto;
}
.sidebar.toc {
  top: 8rem;
}
.sidebar.toc ol {
  list-style: none;
}
.sidebar-toc {
  padding-left: 0;
  font-size: .875rem;
  margin: 0.5rem 0;
}
.sidebar-toc-child {
  padding-left: 1.5rem;
}
.sidebar-title {
  padding-left: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-heading);
}
.sidebar-group-header {
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-family: var(--font-heading);
}
.sidebar-group-header.toc {
  margin-left: 0;
  padding-bottom: 0rem;
}

.sidebar-items {
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
}

.sidebar-item {
  height: 38px;
  display: flex;
}

.sidebar-items a,
.sidebar-items a:visited,
.sidebar-items a:hover,
.sidebar-items a:focus {
  color: var(--black);
  text-decoration: none;
}

.sidebar-toc a,
.sidebar-toc a:visited,
.sidebar-toc a:hover,
.sidebar-toc a:focus {
  color: var(--black);
  text-decoration: none;
}

.sidebar-link, .sidebar-toc-link {
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  width: 100%;
  background-color: inherit;
  transition: background-color 0.075s;
}
.sidebar-link:hover, .sidebar-toc-link:hover {
  background-color: var(--orange-medium);
}
.sidebar-toc-link {
  padding: 0.5rem 1.5rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.sidebar-toc-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-link.current {
  background-color: var(--orange);
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
}

.sidebar-link.current,
.sidebar-link.current:visited,
.sidebar-link.current:focus,
.sidebar-link.current:hover {
  color: var(--white);
}

.sidebar-toc-link.current {
  background-color: var(--orange);
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
}

.sidebar-toc-link.current,
.sidebar-toc-link.current:visited,
.sidebar-toc-link.current:focus,
.sidebar-toc-link.current:hover {
  color: var(--white);
}


#sidebar-mobile {
  position: fixed;
  left: 0;
  top: 88px;
  display: none;
}

#sidebar-mobile > .sidebar {
  display: block;
  transition: transform 200ms;
  transform: translateX(-288px);
}

#all-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 92rem;
  margin: 0 auto;
  justify-content: center;
}
.page-content-wrapper {
  max-width: 100%;
  width: 100%;
}
.page-content {
  background-color: white;
  padding: 2rem 1.5rem;
  line-height: 1.7;
  transition: transform 200ms;
  margin: 2rem 0 1rem 0;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
  font-size: 1.125rem;
}

@media screen and (max-width: 1088px) {
  .nav-links {
    display: none;
  }
  .sidebar {
    display: none;
  }
  #sidebar-toggle {
    display: flex;
  }
  #sidebar-mobile {
    display: block;
  }
  .sidebar.sidebar-toggled {
    transform: translateX(0);
  }
  #all-content-wrapper.sidebar-toggled .page-content {
    transform: translateX(288px);
  }
  #sidebar-mobile.sidebar-toggled > .sidebar {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1350px) {
  .sidebar.toc {
    display: none;
  }
}

.next-prev {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media screen and (max-width: 46rem) {
  .next-prev {
    justify-content: center;
  }
}
.next-topic-wrapper, .prev-topic-wrapper {
  display: flex;
  flex-direction: column;
}
.prev-topic-wrapper::before, .next-topic-wrapper::before {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.125rem;
}
.prev-topic-wrapper::before {
  content: 'Previous:';
  margin-left: 2rem;
}
.next-topic-wrapper::before {
  content: 'Next up...';
  margin-right: 2rem;
  text-align: end;
}
.next-topic-wrapper:first-child {
  margin-left: auto;
}
.prev-topic > span, .next-topic > span {
  display: flex;
  flex-direction: column;
}
.next-topic, .prev-topic {
  margin-top: 0.5rem;
  width: 20rem;
  align-items: center;
  padding: 0 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.next-arrow, .prev-arrow {
  position: relative;
  top: 1px;
}
.next-arrow {
  margin-left: auto;
}
.prev-arrow {
  margin-right: auto;
}

.page-title {
  margin-top: 0;
}

.github-link-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}

pre {
  font-size: 95%;
  font-family: "Menlo", monospace;
}
.tm-highlight table {
  width: 100%;
  font-size: 1rem;
}
td,
th {
  padding: 0;
}
.gutter {
  width: 40px;
}
.gutter pre {
  background-color: #f9f9f9;
  color: #aaa;
  text-align: right;
  padding: 1.5em 12px;
  margin: 0;
}
.code pre {
  background-color: #f9f9f9;
  white-space: pre;
  padding: 1.5em 12px;
  margin: 0;
}

/* hack for hash links to work properly */
h1::before, h2::before, h3::before, h4::before, h5::before {
  content: '';
  display: block;
  height:      6rem;
  margin-top: -6rem;
  visibility: hidden;
}
