html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212121;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:hover, a:focus {
  color: #cc9900;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.navbar {
  background-color: #3F51B5;
  color: white;
  position: fixed;
  width: 100%;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  transition: color .2s;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-nav-svg {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-top;
  fill: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  transition: fill .2s, color .2s;
}
.navbar-nav-svg:focus, .navbar-nav-svg:hover {
  fill: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.nav-brand-wrapper {
    display: flex;
    align-items: center;
}

.nav-menu-icon {
    width: 1em;
    height: 1em;
    margin-right: .5em;
}

.body-wrapper {
    display: flex;
    justify-content: center;
}

#sidebar-toggle {
    border: none;
    background-color: initial;
    display: none;
    padding: 0;
}
#sidebar-toggle:focus {
    outline: none;
}

.sidebar {
    background-color: #f9f9f9;
    min-width: 260px;
    overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.07);
    border-radius: 1em;
}
.sidebar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}
.sidebar-title {
    padding: 0.8em 1.5em;
    font-size: 16px;
    font-weight: bold;
}
.sidebar-group-header {
    margin: 1em 0;
    padding: .5em 0;
    background-color: #3F51B5;
    color: white;
    font-weight: bold;
}

.sidebar-items {
    list-style: none;
    padding-left: 0;
}

.sidebar-items > * {
    padding-left: 1.5rem;
}
.sidebar-items a, .sidebar-items a:visited, .sidebar-items a:hover, .sidebar-items a:focus {
    color: #212121;
}
.sidebar-items a, .sidebar-items a:visited, .sidebar-items a:hover, .sidebar-items a:focus {
    color: #212121;
}

.sidebar-link.current, .sidebar-link.current:visited, .sidebar-link.current:focus, .sidebar-link.current:hover {
    color: #cc9900;
    font-weight: bold;
}

#sidebar-mobile {
    position: absolute;
    left: 0;
    top: 56px;
}

#sidebar-mobile > .sidebar {
    display: block;
    transition: transform 200ms;
    transform: translateX(-260px);
}

#page-content-wrapper {
    margin-top: 56px;
    margin-left: 0;
    width: 100%;
    display: flex;
    max-width: 1300px;
}
.page-content {
    background-color: white;
    padding: 3em 1.5em;
    line-height: 1.7;
    transition: transform 200ms;
}

@media screen and (max-width: 1088px) {
    .sidebar {
        display: none;
    }
    #sidebar-toggle {
        display: flex;
    }
    #page-content-wrapper {
        /* margin-left: 260px; */
    }
    .sidebar.sidebar-toggled {
        transform: translateX(0);
    }
    #page-content-wrapper.sidebar-toggled .page-content {
        transform: translateX(260px);
    }
    #sidebar-mobile.sidebar-toggled > .sidebar {
        transform: translateX(0);
    }
}

.page-title {
    /* font-weight: bold; */
}

.github-link {
    align-items: center;
    display: inline-flex;
    border: 2px solid currentColor;
    border-radius: 2px;
    padding: .3em 1em;
    margin-bottom: 2em;
    background-color: white;
    transition: background-color 100ms;
}
.github-link:hover, .github-link:focus {
  color: white;
  background-color: #cc9900;
  text-decoration: none;
}

.github-link-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}

pre {
    font-size: 95%;
    font-family: "Menlo", monospace;
}
.highlight table {
    width: 100%;
    font-size: 14px;
}
td, th {
    padding: 0;
}
.gutter {
    width: 40px;
}
.gutter pre {
    background-color: #f7f7f7;
    color: #aaa;
    text-align: right;
    padding: 1.5em 12px;
    margin: 0;
}
.code pre {
    background-color: #f7f7f7;
    white-space: pre;
    padding: 1.5em 12px;
    margin: 0;
}