---
import type { CollectionEntry } from 'astro:content'
import BlogThumbnail from './BlogThumbnail.astro';
import NewsletterSignup from './NewsletterSignup.astro';
import GrainLogo from './icons/GrainLogo.astro';

interface Props {
  entries: CollectionEntry<'blog'>[];
}

const { entries } = Astro.props;
---

<div class="max-w-[80rem] mx-auto">
  <div class="grid grid-cols-3 gap-12">
    {entries.map(entry => <BlogThumbnail entry={entry} />)}
  </div>

  <div class="relative rounded-lg my-20 w-full h-52 bg-gray-variant-90 dark:bg-gray-variant-80 overflow-hidden">
    <div class="absolute z-20 -left-72 w-96 h-80 opacity-80 bg-purple-40 transform -skew-x-[45deg]"></div>
    <div class="absolute z-10 left-4 w-96 h-80 bg-[radial-gradient(#6B40E4,#DF573A)] transform -skew-x-[45deg]"></div>
    <div class="absolute px-20 w-full top-1/2 transform -translate-y-1/2 flex z-30 text-white items-center justify-between">
      <div class="flex items-center gap-2">
        <GrainLogo class="w-16 h-16 fill-white" />
        <div class="font-bold text-5xl">developer news</div>
      </div>
      <NewsletterSignup />
    </div>
  </div>
</div>
