---
interface Props {
  title: string;
  class: string;
}

const { title } = Astro.props;
---

<div class={`relative flex flex-col gap-5 overflow-hidden rounded-xl lg:rounded-3xl p-8 lg:p-12 ${Astro.props.class}`}>
  <h2 class="z-20 text-2xl font-bold">
    {title}
  </h2>
  <slot />
</div>