---
import CommunityInfoFact from "./CommunityInfoFact.astro";
import ButtonLink from "./ButtonLink.astro";
import codeIcon from "../images/code-icon.svg";
import peopleIcon from "../images/people-icon.svg";
import passionIcon from "../images/passion.svg";
---

<section class="mt-20 lg:mt-40 overflow-hidden">
  <div class="-z-10 dark:hidden absolute -top-[16rem] -left-[12rem] lg:-top-[34rem] lg:-left-20 bg-purple-20 w-[20rem] lg:w-[30rem] h-[30rem] lg:h-[46rem] rounded-full -rotate-[150deg] blur-3xl" />
  <div class="-z-10 dark:hidden absolute -top-[5rem] -left-[4rem] lg:-top-40 lg:left-[10rem] bg-purple-40 w-[18rem] lg:w-[28rem] h-[10rem] lg:h-60 rounded-full -rotate-[170deg] blur-3xl" />
  <div class="-z-10 dark:hidden absolute -top-[8rem] left-[6rem] lg:-top-60 lg:left-[36rem] bg-[#FFF0C8] w-[12rem] lg:w-72 h-[16rem] lg:h-96 rounded-full -rotate-[150deg] blur-3xl" />

  <div class="lg:flex-row container mx-auto px-5">
    <div class="mx-auto text-center w-full xl:w-1/2">
      <h1 class="font-bold text-4xl lg:text-6xl mb-5 leading-tight">Behind the Scenes with the Grain Core Team</h1>
      <p class="text-lg">The high-level programming language for WebAssembly</p>
    </div>
    <div class="flex flex-col lg:flex-row gap-16 lg:gap-28 my-32">
      <CommunityInfoFact
        iconSrc={codeIcon}
        iconAlt="Code block."
      >
        We are passionate about WebAssembly, programming languages, and
        developer experience. Each member of the Grain core team relies
        on full-time work outside of Grain.
      </CommunityInfoFact>

      <CommunityInfoFact
        iconSrc={peopleIcon}
        iconAlt="People."
      >
        Grain's growth is organic. (What? We appreciate a good pun.) Core
        team members initially met as classmates and colleagues or found
        each other through the project.
      </CommunityInfoFact>

      <CommunityInfoFact
        iconSrc={passionIcon}
        iconAlt="A hand holding a heart."
      >
        Grain is an open-source passion project. We do this because we love
        it, and feel strongly that WebAssembly deserves an easy-to-use
        high-level language
      </CommunityInfoFact>
    </div>
    <div class="text-center w-3/4 mx-auto mb-20 lg:mb-32">
      <h2 class="font-medium text-2xl lg:text-4xl leading-tight mb-12">
        We each have unique skills that we bring to the table. Together, with
        our volunteer contributors, we have accomplished more than we ever
        expected.
      </h2>
      <ButtonLink class="mx-auto" href="https://discord.com/invite/grain-lang">Let's Hang Out</ButtonLink>
    </div>
  </div>
</section>
