---
interface Props {
  slug: string;
}

const { slug } = Astro.props;

const href = `/docs/${slug}`;
const isCurrentPage = new URL(Astro.request.url).pathname === href;
---

<a href={href} class={`block -ml-[2px] my-1 text-lg hover:text-color-accent border-l-2 pl-3 ${isCurrentPage ? "text-color-accent border-l-2 border-color-accent font-medium" : "text-color-dim border-color-dimmer hover:border-color-accent-dim"}`}>
  <slot />
</a>