---
import { Image } from "astro:assets";

interface Props {
  imgSrc: ImageMetadata;
  imgAlt: string;
  header: string;
}

const { imgSrc, imgAlt, header } = Astro.props;
---

<div>
  <div>
    <div class="h-10">
      <Image
        src={imgSrc}
        height={40}
        alt={imgAlt}
        class="dark:hidden mx-auto md:mx-0"
      />
    </div>
    <h3 class="font-semibold text-xl md:text-lg my-1.5 mx-auto w-fit md:mx-0">{header}</h3>
  </div>
  <p>
    <slot />
  </p>
</div>