---
---

<div>
  <p class="text-color-primary mb-2">Sign up for farm-to-inbox developer news</p>
  <div>
    <form>
      <input placeholder="email@dev.com" class="bg-color-background-bright text-black rounded box-content border border-color-dimmer px-4 py-2 w-80" />
      <input type="submit" value="Sign up" class="ml-1 bg-color-dim-1 text-white px-6 py-2 rounded border border-color-dim-1" />
    </form>
  </div>
  <!-- TODO privacy policy -->
  <p class="text-color-dim mt-2 text-sm">You can unsubscribe at any time. Read our <a>privacy policy</a>.</p>
</div>
