---
---

<div>
  <p class="text-color-dim mb-2">Sign up for farm-to-inbox developer news</p>
  <div>
    <form class="flex">
      <input placeholder="email@dev.com" class="bg-color-background-bright text-black rounded box-content border border-color-dimmer hover:border-color-dim-2 px-5 py-2 flex-1 w-full" />
      <input type="submit" value="Sign up" class="cursor-pointer ml-1 bg-color-dim-1 text-white px-6 py-2 rounded border border-color-dim-1 flex-0" />
    </form>
  </div>
  <!-- TODO privacy policy -->
  <p class="text-color-dim mt-2 text-sm">You can unsubscribe at any time. Read our <a>privacy policy</a>.</p>
</div>
