---
---

<div>
  <p class="text-[#8D8D8D] mb-2">Sign up for farm-to-inbox developer news</p>
  <div>
    <form>
      <input placeholder="email@dev.com" class="bg-gray-10 text-black rounded box-content border border-gray-20 px-4 py-2 w-80" />
      <input type="submit" value="Sign up" class="ml-1 bg-gray-50 text-white px-6 py-2 rounded border border-gray-50" />
    </form>
  </div>
  <!-- TODO privacy policy -->
  <p class="text-gray-60 mt-2 text-sm">You can unsubscribe at any time. Read our <a>privacy policy</a>.</p>
</div>
