---
---

<div class="hidden peer-hover:block absolute top-full left-1/2 -translate-x-1/2 w-5 h-5 rotate-45 bg-gray-90"></div>
<div class="hidden peer-hover:block absolute top-full left-1/2 -translate-x-1/2 text-white bg-gray-90 px-2 py-1 text-xs rounded whitespace-nowrap">
  <slot />
</div>