<footer class="footer <%- config.project === 'blog' ? 'separated' : '' %>">
  <img src="/images/grain_shorthand_color.svg" alt="Grain shorthand" class="footer-logo">
  <div class="footer-links">
    <p class="footer-link-header">For Developers</p>
    <ul>
      <li><a href="/docs">Guide</a></li>
      <li><a href="/docs/intro">Documentation</a></li>
      <li><a href="https://github.com/grain-lang/grain/graphs/contributors">Community</a></li>
    </ul>
  </div>
  <div class="footer-links">
    <p class="footer-link-header">For Contributors</p>
    <ul>
      <li><a href="https://github.com/grain-lang/grain/blob/master/CONTRIBUTING.md">Contributing Guide</a></li>
      <li><a href="https://github.com/grain-lang/grain/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a></li>
      <li><a href="https://discord.gg/grain">Discord</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <div class="footer-social-links">
      <a href="https://github.com/grain-lang/grain" class="footer-social-link"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/grain_lang" class="footer-social-link"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="made-by">
      <p>Made with <i class="fas fa-cocktail"></i> by the Grain core team <br class="hide-mobile">& Grain contributors</p>
    </div>
  </div>
</footer>