<section id="hero">
  <nav id="nav" class="<%- config.project == 'blog' ? 'compact' : '' %>">
    <div class="brand-wrapper">
      <button id="sidebar-toggle">
        <svg class="nav-menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 559 372"><defs><style>.a{fill:#fff;}</style></defs><title>menu</title><rect class="a" width="559" height="49" rx="24.5" ry="24.5"/><rect class="a" x="205" y="323" width="354" height="49" rx="24.5" ry="24.5"/><rect class="a" x="97" y="156" width="462" height="49" rx="24.5" ry="24.5"/></svg>
      </button>
      <a class="nav-logo-wrapper" href="/"><img class="nav-logo" src="https://grain-lang.org/images/grain_logo_white.svg"><span class="nav-logo-addition"><%- config.project == 'blog' ? 'Blog' : '' %></span></a>
    </div>
    <div class="nav-links">
      <a href="/docs" class="nav-link heading">Guide</a>
      <a href="/docs/intro" class="nav-link heading">Documentation</a>
      <a href="https://github.com/grain-lang/grain/graphs/contributors" class="nav-link heading">Community</a>
      <a href="/blog" class="nav-link heading">Blog</a>
    </div>
    <div class="nav-social-links">
      <a href="https://github.com/grain-lang/grain" class="nav-link"><i class="fab fa-github nav-social-link"></i></a>
      <a href="https://twitter.com/grain_lang" class="nav-link"><i class="fab fa-twitter nav-social-link"></i></a>
    </div>
  </nav>
</section>
