body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#toolbar {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
}

#run {
    padding: 10px;
    border: 0;
    background-color: var(--orange);
    color: var(--white);
}

#run:disabled {
    background-color: var(--gray2);
}

#editor-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#editor {
    flex: 3;
}

#output-panel {
    flex: 1;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
}

#output {
    padding: 10px;
    margin: 0;
    flex-grow: 1;
    white-space: pre-wrap;
}

@media only screen and (max-width: 768px) {
    #editor-wrapper {
        flex-direction: column;
    }
}
