---
---

<div class="flex items-center w-fit rounded-2xl border border-gray-30 dark:border-purple-80 hover:border-gray-30 text-xs text-color-dim bg-gray-10 dark:bg-purple-100 px-5 py-1">
  <slot />
</div>
