---
interface Props {
  id: string;
}

const { id } = Astro.props;

const href = `/docs/${id}`;
const isCurrentPage =
  Astro.url.pathname.replace(/\/$/, "") === href.replace(/\/$/, "");
---

<a
  href={href}
  class={`block -ml-[2px] my-1 hover:text-color-accent border-l-2 pl-2.5 ${isCurrentPage ? "text-color-accent border-l-2 border-color-accent font-medium" : "text-color-dim border-color-dim-3 hover:border-color-accent-muted"}`}
>
  <slot />
</a>
