---
import MailingListForm from "./MailingListForm.astro";
---

<div>
  <p class="text-color-dim mb-2">Sign up for farm-to-inbox developer news</p>
  <div>
    <MailingListForm
      isNetlifyForm
      name="mailing-list-signup"
      actionTitle="Sign up"
    />
  </div>
  <p class="text-color-dim mt-2 text-sm">
    You can unsubscribe at any time. Read our <a
      class="underline"
      href="/privacy">privacy policy</a
    >.
  </p>
</div>
