---

---

<div id="searchbar" class="h-10 grow lg:grow-0 w-52"></div>

<script>
  import docsearch from "@docsearch/js";

  import "@docsearch/css";
  import "../style/docsearch.css";

  docsearch({
    appId: "CDP8WGS04L",
    // This is a search-only API key sent directly to Algolia's API in plaintext and is not confidential
    apiKey: "fb27c36015ee3fd18739deeb1be5f71b",
    indexName: "grain-lang",
    container: "#searchbar",
    placeholder: "Search docs...",
  });

  const ACTION_KEY_DEFAULT = "Ctrl+";
  const ACTION_KEY_APPLE = "⌘";

  const isApple = /(Mac|iPhone|iPod|iPad)/i.test(navigator.userAgent);
  const actionKey = isApple ? ACTION_KEY_APPLE : ACTION_KEY_DEFAULT;

  document.getElementsByClassName("DocSearch-Button-Keys").item(0)!.innerHTML =
    actionKey + "K";
</script>
